setuptools>=68.0.0
wheel
gunicorn

# Web Framework
Flask

# Data Processing
numpy
pandas

# Machine Learning - TensorFlow/Keras
tensorflow

# Machine Learning - PyTorch
torch
torchvision
torchaudio

# Machine Learning - Scikit-learn
scikit-learn
